@media screen and (min-width: 425px){
.col{
    width:calc(100%);
    border: 2px solid black;
}
    
}

@media screen and (min-width: 768px){
.col{
    width:calc(100% / 2 - (20px / 2));
    border: 2px solid black;
}
    
}

@media screen and (min-width: 1024px){
.col{
    width:calc(100% / 3 - (40px / 3));
    border: 2px solid black;
}
    
}