/* //RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}




/* //UTILITIES */
.flex{
    display: flex;
    align-items: center;
}

.justify-center{
justify-content: center;
}

.align-center{
align-items: center;
}

.space-between{
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}

.gap{
    gap: 20px;
}

.bg-white{
    background-color: white;
}

.titoli{
font-family: 'Edu Tas Beginner', sans-serif;
   text-transform: uppercase;
}

.data{
    font-family: 'Sometype Mono', monospace ;
    color: gray;
    font-weight: 900;
}

.p-top{
    padding-top: 200px;
}
.p-bottom{
    padding-bottom: 200px;
}

.p-top-15{
    padding-top: 15px;
}

/* //LAYOUT */
.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    /* border:1px solid black; debug */
}

.col{
    width:calc(100%);
    border: 2px solid black;
      position: relative;
}

.card{
    padding:20px;
    height: 100%;
  
}

header{
    
  background-image: url(./img/wall.png);
   display: flex;
   justify-content: center;
   align-items: center;

    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1000;
    font-size: 50px;

}

main{
    background-image: url(./img/cork.png);
    height: 100%;
}

/* //CARD */
.pin{
    position: absolute;
    bottom:93%;
    right: 45%;


}